doctype html
html
  head
    title= project
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css')
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/open-iconic/1.1.1/font/css/open-iconic-bootstrap.min.css')
  body
    nav.navbar.sticky-top.navbar-light.bg-light
      .container
        a.navbar-brand(href="/") UBports Click builder
    .container
      block content
