extends layout

block content
  h3= project
  ul.list-group
  each build, i in builds
    a.list-group-item.list-group-item-action.d-flex.justify-content-between.align-items-center(href="/"+project+"/"+i) Build nr #{i}
      if build.building
        .badge.badge-warning
          span(style="color: white;").oi.oi-pulse
      else if build.failed
        .badge.badge-danger
          span(style="color: white;").oi.oi-x
      else if !build.queue
        .badge.badge-success
          span(style="color: white;").oi.oi-check
      else
        .badge.badge-info
          span(style="color: white;").oi.oi-layers
